samples/data/wsdl-counter.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://samples.ogsa.globus.org/GenerateCounter" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:gridservicesoapbinding="http://www.gridforum.org/namespaces/2003/03/OGSI/bindings" xmlns:impl="http://samples.ogsa.globus.org/GenerateCounter" xmlns:intf="http://samples.ogsa.globus.org/GenerateCounter" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><wsdl:import location="../../ogsi/ogsi_bindings.wsdl" namespace="http://www.gridforum.org/namespaces/2003/03/OGSI/bindings"/>
 <wsdl:types>
  <schema targetNamespace="http://samples.ogsa.globus.org/GenerateCounter" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getValue">
    <complexType/>
   </element>
   <element name="getValueResponse">
    <complexType>
     <sequence>
      <element name="getValueReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="add">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="subtract">
    <complexType>
     <sequence>
      <element name="in0" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="subtractResponse">
    <complexType>
     <sequence>
      <element name="subtractReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="subtractResponse">

      <wsdl:part element="impl:subtractResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getValueRequest">

      <wsdl:part element="impl:getValue" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getValueResponse">

      <wsdl:part element="impl:getValueResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="subtractRequest">

      <wsdl:part element="impl:subtract" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="GenerateCounterPortType">

      <wsdl:operation name="getValue">

         <wsdl:input message="impl:getValueRequest" name="getValueRequest"/>

         <wsdl:output message="impl:getValueResponse" name="getValueResponse"/>

      </wsdl:operation>

      <wsdl:operation name="add" parameterOrder="">

         <wsdl:input message="impl:addRequest" name="addRequest"/>

         <wsdl:output message="impl:addResponse" name="addResponse"/>

      </wsdl:operation>

      <wsdl:operation name="subtract" parameterOrder="">

         <wsdl:input message="impl:subtractRequest" name="subtractRequest"/>

         <wsdl:output message="impl:subtractResponse" name="subtractResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GenerateCounterServiceSoapBinding" type="impl:GenerateCounterPortType">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getValueRequest">

            <wsdlsoap:body namespace="http://samples.ogsa.globus.org/GenerateCounter" use="literal"/>

         </wsdl:input>

         <wsdl:output name="getValueResponse">

            <wsdlsoap:body namespace="http://samples.ogsa.globus.org/GenerateCounter" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body namespace="http://samples.ogsa.globus.org/GenerateCounter" use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body namespace="http://samples.ogsa.globus.org/GenerateCounter" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="subtract">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="subtractRequest">

            <wsdlsoap:body namespace="http://samples.ogsa.globus.org/GenerateCounter" use="literal"/>

         </wsdl:input>

         <wsdl:output name="subtractResponse">

            <wsdlsoap:body namespace="http://samples.ogsa.globus.org/GenerateCounter" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GenerateCounterService">

      <wsdl:port binding="impl:GenerateCounterServiceSoapBinding" name="GenerateCounterService">

         <wsdlsoap:address location="http://localhost/ogsa/services/GenerateCounterService"/>

      </wsdl:port>

   <wsdl:port binding="gridservicesoapbinding:GridServiceSOAPBinding" name="GridServiceSOAPBindingPort"><wsdlsoap:address location="http://localhost/ogsa/services/GenerateCounterService"/></wsdl:port></wsdl:service>

</wsdl:definitions>